<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Meta tag for test site only -->
    <meta name="robots" content="noindex,nofollow">

    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width"> {% if page.description %}
    <meta name="description" content="{{ page.description }}">{% endif %}

    <link href="/img/favicon.ico" rel="shortcut icon">
    <!-- Custom CSS -->

    <link rel="stylesheet" href="/assets/main.css">

</head>

<body>
  <div class="pageWidth">
    <h1 class="siteTitle">Homepage Test</h1>
  </div>
</body>
</html>
